.part1 {
  width: 100%;
  /*height: 800px;*/
  display: flex;
  flex-direction: row;
  background-image: url("./pictures/60.png");
  background-size: cover;
}
.background {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  /* Frame 1 */

  height: 80px;

  align-items: center;
  background: rgba(0, 0, 0, 0.33);
}
.menu {
  display: flex;
  flex-direction: row;
  height: 80px;
}
/* LOGO */
.Logo {
  margin-left: 10%;
  margin-right: 15%;
  display: flex;
  width: 137px;
  height: 49px;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
}
.CardsAndMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.menuContainer {
  display: flex;
  flex-direction: row;
}
.menuItem {
  width: 120px;
  height: 80px;
  margin-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  justify-content: center;
  display: flex;
  align-items: center;

  color: #ffffff;
}
.menuItem:hover {
  border-bottom: 3px solid #7f4de9;
  color: #7f4de9;
}
/* Войти */
.logInBtn button {
  display: flex;
  align-items: center;
  text-align: center;
  width: 160px;
  height: 60px;
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;

  border: 1px solid #000;
  background: rgba(0, 0, 0, 0.33);
  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logInBtn button:hover {
  color: #7f4de9;
}
.BlockLeft {
  width: 20%;
  background-color: #30173d;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.MainBlockCards {
  width: 100%;
  background: #d6d2e7;

  display: flex;
  justify-content: center;
}
.Card {
  display: flex;
  margin: 40px 40px 40px 40px;
  flex-direction: column;
  width: 280px;
  height: 300px;
  background-color: #ffffff;
  /* margin-bottom: 500px;*/
  align-items: center;
  /*justify-content: center;*/
}
img {
  width: 100%;
  height: 70%;
}
.TitleCard {
  color: #30173d;
  font-size: 20px;
  font-weight: 700;
}
link {
  text-decoration: none;
}
/*Раскрытая карточка*/
.IntoCards {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.videoC video {
  margin-top: 70px;
  width: 60%;
  height: 500px;
  background-color: #30173d;
  margin-left: 20%;
}
h1,
h3 {
  text-align: center;
  color: #30173d;
}
.manual {
  padding-left: 20px;
  width: 100%;
  font-size: 20px;
  color: #30173d;
  font-weight: 700;
}
.Vnimanie {
  margin-left: 10px;
  width: 32px;
  height: 30px;
  background-image: url("../pages/pictures/Vnimanie.png");
  background-size: cover;
}
.manualBlock {
  display: flex;
  height: 130px;
  border-radius: 30px;
  margin-left: 13%;
  background-color: chocolate;
  width: 80%;
  align-items: center;
  justify-content: center;
}
.text {
  margin-top: 60px;
  width: 80%;
  margin-left: 40px;
  font-size: 20px;
  color: #30173d;
}
.ReadyBTN {
  display: flex;

  flex-direction: column;
  margin-left: 40%;
  color: #f0e6f6;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  padding: 9px 9px 9px 10px;
  justify-content: center;
  align-items: center;

  border-radius: 18px;
  background: #30173d;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 20px;
}
.btn {
  display: flex;

  flex-direction: column;

  color: #f0e6f6;
  margin-top: 30px;
  width: 150px;
  height: 50px;
  padding: 9px 9px 9px 10px;
  justify-content: center;
  align-items: center;

  border-radius: 18px;
  background: #30173d;
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 20px;
}
/*Тест для карточек*/
.BlockTest {
  display: flex;
  margin-top: 50px;
  width: 80%;
  height: 760px;

  margin-left: 130px;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center;
}
.Test {
  display: flex;
  width: 80%;
  background-color: #fff;
  height: 700px;
  border-radius: 50px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.TestInfo {
  display: flex;
  width: 100%;
  border-radius: 50px 50px 0 0;
  height: 60px;
  background-color: #30173d;
}
.TestInfo h4 {
  color: #fff;
  margin: 0 0 0 0;
  padding-left: 30px;
  padding-top: 15px;
}
.TestInfo h3 {
  color: #fff;
  margin: 0 0 0 0;
  padding-left: 75%;
  padding-top: 15px;
}
.TextTask {
  width: 90%;
  padding-left: 30px;
  padding-top: 40px;
}
.textQuestion {
  color: #30173d;
  text-align: center;
  font-size: 25px;
  padding-top: 20px;
  font-weight: 700;
}
input {
  margin-top: 10px;
}
.btn button {
  margin-bottom: 20px;
}
.TextOverBlock {
  align-items: center;
  display: flex;
  height: 600px;
  flex-direction: column;
  justify-content: center;
}
.Infocurses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
